{
    "gpio": {
        "tick_pin1": 12,
        "tick_pin2": 13
    },
    "ntp": {
        "server": "time.nist.gov",
        "sync_interval": 300
    },
    "flask": {
        "host": "0.0.0.0",
        "port": 5000
    }
}
