[Unit]
Description=PiClock Service
After=network.target

[Service]
ExecStart=/usr/local/bin/piclock.bin
User=root
Group=root

[Install]
WantedBy=multi-user.target